body{
    background-color: #333;
    
}

#map{
    border: 10PX SOLID #555;
    width: 500px;
    height: 500px;
    /* display: flex;
    flex-wrap: wrap; */
    position: relative;
    
}

#map div{
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #777;

   
}
